/* Root and container #root {
  max-width: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container-global {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.genLayout {
  max-width: 1000px;
  margin: auto;
} */
